a:hover {
  background-color: #E8E8E8;
}
div#example1_wrapper {
    margin-top: 10px;
}

.filter{
	padding: 5px 7px;
    border: 1px solid #d6d6d6;
    margin-right: 10px;
}



.notes div {
    width: 100%;
}

nav.navbar .container-fluid {
    padding: 0;
}

.navbar-brand {
	padding: 0;
}

.navbar-header {
	min-width: 299px;
    padding: 10px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.row.create-task {
    margin-bottom: 10px;
    margin-top: 20px;
}



.thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 300px !important;
}

.image-area img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

div#jobOrderId_wrapper {
    height: 585px;
    overflow-y: auto;
    overflow-x: hidden;
}

div#jobOrderId_wrapper .row:first-child{
    display: none;
}

div.cjob{
  margin: -23px 0px 9px;
}

.clwh{
    color:white;
}


.create-job-orders{
   text-align: center;
}

#add-jobs{
    width: 150px;
    height: 150px;
    border-radius: 159px;
    font-size: 26px;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 31px;
    background-color: #a073dd;
}

.create-job-heading {
    color: white;
    font-size: 16px;
    height: 300px;
}
.body.bg-pink {
    height: 306px;
}
.job-order-bg {
    background-image: url('/img/job-bg.jpg');
}

button#add-jobs:hover {
    width: 160px;
    height: 160px;
    border-radius: 159px;
    margin-bottom: 22px;
    margin-top: 31px;
}
